* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 45px;
}

.hero h1 span{

    color: grey;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background-color: #ff2963;
  color: #fff;
  font-size: 16;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
}

button img {
  width: 16px;
  margin-right: 10px;
}

textarea {
  width: 600px;
  height: 250px;
}

textarea::placeholder {
  font-size: 16px;
  color: black;
  background-color: #ff2963;

}

select {
flex: 1;
height: 50px;
padding: 0 20px;
border: 0;
  outline: 0;

}
